    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="public/css/style.css">

<%- include("partials/header") -%>
<div class="homeMain">
<h1>Home</h1>
<p><%- homeStarting %></p> 


        <% posts.forEach(function(post) { %>
            <h1> <%= post.title %></h1> 
         <p><%= post.content.substring(0,100)+"..."%> 
         <a href="/posts/<%=post.title%>" + post.title> Read more</a> 
        </p>
            <% }) %>
            <br>
            <br>
            <button class="btn btn-primary"><a href="/compose">POST</a></button>
        </div>
       
       