    <!-- CSS only -->
    <link rel="stylesheet" href="public/css/style.css">

<%- include("partials/header") -%>
           
          <div class="post-heading"> 
            <h4 > <%= date %>,<%= time %></h4> 
              <h1 class="blog-title"><%= title %></h1>  
         </div>
            <p style="font-size: large;"> <%= content %> </p>
        
            
 <%- include("partials/footer") -%>            